<!DOCTYPE html>
<style>
  .row {
    display: flex;
  }
  .space {
    width: 1rem;
  }
</style>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div v-for="row in rows" class="row">
      <div v-for="col in row" class="space">{{col}}</div>
    </div>
  </div>
  <script src="index.js"></script>
</body>
